* {
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --tamil-font: "Mukta Malar", sans-serif;
  --heading-font: "Poppins", sans-serif;
  --normal-font: "Source Sans Pro", sans-serif;
}

#more {
  display: none;
}

#moreEng {
  display: none;
}

body {
  background-color: white;
}
nav {
  background-color: #0087ff;
  padding: 15px 0;
}
nav > div {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav > div > span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  font-family: var(--heading-font);
}
nav > div > a > svg {
  max-width: 35px;
  height: auto;
  fill: #fff;
}
/* header */
.tamil-header-parent{
  padding-top: 50px;
  background-color: #fffeed;
}

header {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 30px;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-text > h1 {
  color: #0087ff;
  font-size: 60px;
  font-family: var(--tamil-font);
  font-weight: 700;
}
.header-text > div {
  margin: 35px 0 50px 0;
}
.header-text > div > p {
  font-size: 20px;
  font-family: var(--tamil-font);
  font-weight: 400;
  padding-right: 30px;
}
.header-text > div > button {
  background-color: rgb(255, 237, 155);
  font-size: 12px;
  outline: none;
  padding: 3px 8px;
  cursor: pointer;
  font-weight: 500;
  font-family: var(--normal-font);
}
.header-text > .a-btn {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header-text > .a-btn > strong {
  margin-right: 30px;
  font-family: var(--normal-font);
  font-weight: 500;
  font-size: 20px;
}
.header-text > .a-btn > a {
  /* background-color: #ffdfc7; */
  background-color: #00529a;
  padding: 8px 15px;
  border-radius: 30px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: var(--normal-font);
  font-weight: 600;
  text-decoration: none;
  max-width: 280px;
}
.kindle_link {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}
.kindle_link img {
  width: 65px;
  height: auto;
}
.kindle_link a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c6e6ff;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: #0400ff;
  text-decoration: underline;
}
.header-image > h1 {
  display: none;
  color: #0087ff;
}
.header-image .image-slider {
  max-width: 450px;
  margin-top: 30px;
}
.header-image .image-slider img {
  max-width: 450px;
}
/* whatsapp */
.whatsapp {
  max-width: 430px;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3ffd5;
  padding: 10px 0;
  border-radius: 50px;
}
.whatsapp > small {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
}
.whatsapp > a > svg {
  width: 50px;
  height: auto;
}
/* book detials */


.book-detials {
  /* background-color: #ffecdf; */
  background-color: #dff0ff;
  /* margin-top: 50px; */
  padding: 30px 0;
}
.tamil-book-detials{
  background-color: #fffbcc;
}

.book-detials-english {
  margin-top: 50px;
}

.book-detials h2 {
  text-align: center;
  font-size: 30px;
  font-family: var(--normal-font);
  font-weight: 400;
  margin-bottom: 10px;
}
.book-detials .book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.book-detials .book-grid div {
  padding: 20px;
}
.book-detials > .book-grid > div > .t-1 {
  padding: 1px;
  text-align: center;
  font-size: 20px;
  font-family: var(--normal-font);
  font-weight: 400;
  margin: 0;
}
.book-detials > .book-grid > div > .t-2 {
  padding: 1px;
  text-align: center;
  font-size: 20px;
  font-family: var(--normal-font);
  font-weight: 300;
  margin: 0;
}

/* feedback */
.feedback {
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
  padding: 0px 40px;
}
.feedback > div {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  padding: 0px 40px;
  margin: 0px auto;
  margin-top: 35px;
}
.feedback > div > h2 {
  font-size: 30px;
  font-family: var(--heading-font);
  font-weight: 500;
  margin-bottom: 30px;
}
.feedback > div > a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: bisque;
  color: black;
  font-family: var(--heading-font);
  font-weight: 500;
  border-radius: 30px;
  font-size: 15px;
}
.feedback > form {
  display: block;
  background-color: #393939;
  border-radius: 30px;
  width: 370px;
  padding: 30px 20px;
}
.feedback > form > label {
  font-size: 20px;
  color: #ffc4a3;
  font-family: var(--normal-font);
  font-weight: 400;
}
.feedback > form > input {
  border-bottom: 3px solid #ffc4a3;
  display: block;
  background-color: #fff;
  background-color: rgba(240, 255, 255, 0);
  width: 100%;
  outline: none;
}
.feedback > form > textarea {
  display: block;
  border-bottom: 3px solid #ffc4a3;
  width: 100%;
  height: 90px;
  outline: none;
  background-color: rgba(240, 255, 255, 0);
}
.feedback > form > button {
  background-color: #ffaf8100;
  border: 3px solid #ffc4a3;
  padding: 2px 20px;
  color: #ffc4a3;
  margin-top: 37px;
  font-size: 20px;
  font-family: var(--normal-font);
  font-weight: 600;
  cursor: pointer;
}
.feedback > form > button:hover {
  border: 3px solid #fff;
  color: #fff;
}
input[type="text"] {
  color: white;
}

/* footer */
footer {
  background-color: #ff6d6d;
}
footer .footer-container {
  max-width: 1300px;
  padding: 30px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-container h5 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  color: #ffe0cf;
  width: 40%;
  text-align: center;
}
footer .footer-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-container div p {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 20px;
  color: #ffe0cf;
  text-align: center;
  margin: 0;
}
footer .footer-container div strong {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 20px;
  color: #ffe0cf;
  text-align: center;
  margin: 15px 0 0 0;
}
footer .footer-container .qr-code img {
  width: 150px;
  height: auto;
  border: 3px solid #fff;
  margin: 30px 0;
}
.comments {
  padding: 0 30px;
  max-width: 1000px;
  margin: 60px auto 30px auto;
}
.comments > h4 {
  font-family: var(--heading-font);
  font-size: 33px;
  text-align: center;
  font-weight: 500;
}
.comments > article {
  margin: 30px 0;
}
.comments > article > div > strong {
  margin-right: 5px;
  font-size: 15px;
}
.comments > article > div > span {
  color: rgb(88, 88, 88);
  font-size: 14px;
}
.comments > article > p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(53 1 155);
}
.developer {
  background-color: #0087ff;
}
.developer > div {
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 30px;
}
.developer > div a {
  color: white;
}

.media-container {
  display: flex;
  gap: 30px;
}
.video-container-parent{
  background-color: #fffeed;
  padding-top: 80px;
  padding-bottom: 50px;
}

.video-container {
  /* max-width: 400px; */
  padding: 0px 15px;
  width: fit-content;
  margin: 0px auto;
  /* padding-bottom: 100px; */
}
.video-container iframe {
  height: 220px;
  width: 340px;
  margin: 0px auto;
}
.video-container article {
  width: 340px;
  height: 320px;
  margin: 0px auto;
}

.video-container .voice_book,
.video-container .review_tube {
  width: 380px;
}

.video-container .review_book {
  width: 480px;
}

.video-container p {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  color: #e49606;
}

.video-container .tamilText {
  font-weight: 700;
}

.video-container .AudioThubmnail {
  position: relative;
  width: fit-content;
  margin: auto;
}

.video-container .AudioThubmnail .parentDiv {
  height: 220px;
  background-color: rgb(189, 189, 189);
  width: 340px;
}

.video-container .vedioThubmnail {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  /* margin: auto; */
}

.video-container .vedioThubmnail video {
  width: 300px;
}

@media only screen and (max-width: 1100px) {
  header {
    flex-flow: column-reverse;
    padding: 0 20px;
  }
  .header-image {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .header-image > h1 {
    display: block;
    font-family: var(--tamil-font);
    font-weight: 700;
    font-size: 50px;
    margin-top: 30px;
  }
  .header-text > h1 {
    display: none;
  }
  .header-text > div {
    margin-bottom: 30px;
  }
  .header-text > div > p {
    padding-right: 0px;
  }
  footer .footer-container {
    width: 90%;
    flex-direction: column;
  }
  footer .footer-container h5 {
    width: 90%;
  }
  .media-container {
    display: block;
  }
  .kindle_link {
    width: fit-content;
    margin: auto;
    display: block;
  }

  .kindle_link .kindle_link_first_child {
    width: fit-content;
    margin: 20px auto 15px auto;
  }

  .video-container .voice_book,
  .video-container .review_tube {
    width: 300px;
  }

  .video-container .review_book {
    width: 300px;
  }
  .video-container iframe {
    width: 300px;
  }

  .video-container .AudioThubmnail .parentDiv {
    height: 220px;
    width: 300px;
  }

  .video-container .vedioThubmnail video {
    width: 260px;
  }
}
@media only screen and (max-width: 700px) {
  nav {
    padding: 10px 0;
  }
  nav > div > span {
    font-size: 22px;
  }
  nav > div > a > svg {
    max-width: 32px;
  }
  header {
    padding: 0 20px;
  }

  .header-image > h1 {
    font-size: 40px;
    text-align: center;
  }

  .book-detials > .book-grid > div {
    width: 45%;
  }
  .feedback > div {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .feedback > div > a {
    margin-top: 30px;
  }
  footer .footer-container h5 {
    font-size: 25px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .header-image > h1 {
    font-size: 30px;
  }
  .header-image > .image-slider {
    max-width: 350px;
    margin-top: 20px;
  }
  .header-image > .image-slider img {
    max-width: 350px;
  }
  .whatsapp {
    max-width: 330px;
  }
  footer .footer-container h5 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .header-image > .image-slider {
    max-width: 300px;
  }
  .header-image > .image-slider img {
    max-width: 300px;
  }

  .header-text > div > p {
    font-size: 16px;
  }
  .header-text > .a-btn > strong {
    margin-right: 10px;
    font-size: 18px;
  }
  .header-text > .a-btn > a {
    font-size: 17px;
  }
  .whatsapp > a > svg {
    width: 45px;
  }
}

/* footer .footer-container h3{
    color: #FFF5EE;
    text-align: center;
    font-size: 25px;
    font-family: var(--normal-font);
    font-weight: 400;
    padding: 30px 0;
}
footer .footer-container form{
    background-color: #FFC4A3;
    border-radius: 30px;
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
footer .footer-container form > label{
    font-size: 20px;
    font-family: var(--normal-font);
    font-weight: 400;
    margin-top: 10px;
}
footer .footer-container form > input,textarea{
    display: block;
    width: 100%;
    height: 20px;
    outline: none;
    background-color: #FFC4A3;
    border-bottom: 3px solid #393939;
}
footer .footer-container form > textarea{
    height: 50px;
}
footer .footer-container form > button{
    background-color: #FFC4A3;
    border: 3px solid #393939;
    padding: 2px 20px;
    color: #393939;
    margin-top: 37px;
    font-size: 20px;
    font-family: var(--normal-font);
    font-weight: 600;
    cursor: pointer;
}
footer .footer-container form > button:hover{
    border: 3px solid #ffffff;
} */
