*{
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --tamil-font: 'Mukta Malar', sans-serif;
    --normal-font: 'Poppins', sans-serif;
  }

#more {display: none;}

body{
    background-color: #fff5ee;
}
nav{
    background-color: #FFC4A3;
    padding: 15px 0;
}
nav div{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav div span{
    vertical-align: middle;
    font-size: 20px;
    font-family: poppins;
}
nav div ul{
    vertical-align: middle;
    list-style: none;
    display: inline-block;
}
nav div ul li{
    float: right;
    margin: 0 10px;
}
nav div ul li img{
    max-width: 35px;
    height: auto;
}
/* header */
header{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-text h1{
    font-size: 60px;
    font-family: var(--tamil-font);
    font-weight: 700;
}
.header-text > div {
    margin: 35px 0;
}
.header-text > div > p{
    font-size: 20px;
    font-family: var(--tamil-font);
    font-weight: 400;
}
.header-text > div > button{
    background-color: rgb(255, 237, 155);
    font-size: 12px;
    outline: none;
    padding: 3px 8px;
    cursor: pointer;
    font-weight: 500;
    font-family: var(--normal-font);
}
.header-text a{
    background-color: #FFDFC7;
    padding: 15px;
    border-radius: 30px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: var(--normal-font);
    font-weight: 500;
    text-decoration: none;
    max-width: 150px;
}
.header-image img{
    max-width: 450px;
    height: auto;
    margin-top: 25px;
}
/* feedback */
.feedback{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.feedback > h2{
    text-align: center;
    font-size: 30px;
    font-family: var(--normal-font);
    font-weight: 400;
}
.feedback > form{
    display: block;
    background-color: #393939;
    border-radius: 30px;
    width: 300px;
    padding: 30px 20px;
}
.feedback > form > label{
    font-size: 20px;
    color: #FFC4A3;
    font-family: var(--normal-font);
    font-weight: 500;
}
.feedback > form > input{
    border-bottom: 3px solid #FFC4A3;
    display: block;
    background-color: rgba(240, 255, 255, 0);
    width: 100%;
}
.feedback > form > textarea{
    display: block;
    border-bottom: 3px solid #FFC4A3;
    width: 100%;
    height: 50px;
    background-color: rgba(240, 255, 255, 0);
}
.feedback > form > button{
    background-color: #ffaf8100;
    border: 3px solid #FFC4A3;
    padding: 2px 20px;
    color: #FFC4A3;
    margin-top: 37px;
    font-size: 20px;
    font-family: var(--normal-font);
    font-weight: 600;
    cursor: pointer;
}
.feedback > form > button:hover{
    border: 3px solid #fff;
    color: #fff;
}

/* book detials */
.book-detials{
    background-color: #ffecdf;
    margin-top: 50px;
    padding: 30px 0;
}
.book-detials h2{
    text-align: center;
    font-size: 30px;
    font-family: var(--normal-font);
    font-weight: 400;
    margin-bottom: 30px;
}
.book-detials .img-grid{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.book-detials .img-grid div:not(:last-child){
    border-right: 2px solid #000;
}
.book-detials .img-grid div{
    padding: 5px 20px;
}
.book-detials .img-grid div .t-1,.t-2{
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-family: var(--normal-font);
    font-weight: 400;

}
/* preview */
.preview{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.preview h2{
    text-align: center;
    font-size: 30px;
    font-family: var(--normal-font);
    font-weight: 400;
    margin-bottom: 30px;
}
.preview .row-1{
    display: flex;
    justify-content: space-around;

}
.preview .row-1 img{
    margin: 5px;
    border-radius: 25px;
    width: auto;
    height: 400px;
}
/* footer */
footer{
    background-color: #393939;
    margin-top: 50px;
    padding-bottom: 40px;
}
footer .footer-container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
footer .footer-container h3{
    color: #FFF5EE;
    text-align: center;
    font-size: 25px;
    font-family: var(--normal-font);
    font-weight: 400;
    padding: 30px 0;
}
footer .footer-container form{
    background-color: #FFC4A3;
    border-radius: 30px;
    height: auto;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
footer .footer-container form > label{
    font-size: 20px;
    font-family: var(--normal-font);
    font-weight: 400;
    margin-top: 10px;
}
footer .footer-container form > input,textarea{
    display: block;
    width: 100%;
    height: 20px;
    outline: none;
    background-color: #FFC4A3;
    border-bottom: 3px solid #393939;
}
footer .footer-container form > textarea{
    height: 50px;
}
footer .footer-container form > button{
    background-color: #FFC4A3;
    border: 3px solid #393939;
    padding: 2px 20px;
    color: #393939;
    margin-top: 37px;
    font-size: 20px;
    font-family: var(--normal-font);
    font-weight: 600;
    cursor: pointer;
}
footer .footer-container form > button:hover{
    border: 3px solid #ffffff;
}